{%load static%}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/bisform5.css'%}">
<link rel="stylesheet" type="text/js" href="{%static 'js/popupform2.js'%}">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'js/bootstrap.min.js' %} "rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/popupform2.js' %}"></script>
<script type="text/css" src="{% static 'css/popup3.css' %}"></script>
</head>
<body id=business_bg>

<section  >
<!-- Body Starts Here -->



<!-- Display Popup Button -->
 <p id=business_para>
<a href="http://127.0.0.1:8000/"><img id=logo_button_personal src="https://live.staticflickr.com/65535/48136033941_59b7b5cb33_o.png"</a>
<a href="http://127.0.0.1:8000/business_travel/#"><img id=form1 src="https://live.staticflickr.com/65535/48118934673_97e121343d_o.png"></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://127.0.0.1:8000/business_public_liability/#" ><img id=form2 src="https://live.staticflickr.com/65535/48118902331_3ce05fef40_o.png"></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://127.0.0.1:8000/business_working_injury_compensation/#"><img id=form3 src="https://live.staticflickr.com/65535/48118934768_0cc74d8fe8_o.png"></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://127.0.0.1:8000/business_property_all_risks/#"><img id=form4 src="https://live.staticflickr.com/65535/48118934783_ed0fb6e20d_o.png"></a>
</p>
<p id=business_para>
<a href="http://127.0.0.1:8000/business_directors_and_officers/#"><img id=form5 src="https://live.staticflickr.com/65535/48118902501_14c58014a0_o.png"></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://127.0.0.1:8000/business_foreign_worker_medical/#"><img id=form6 src="https://live.staticflickr.com/65535/48118902551_b73d280dfc_o.png"></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://127.0.0.1:8000/business_security_bond/#"><img id=form7 src="https://live.staticflickr.com/65535/48118902601_5df7a94397_o.png"></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href=http://127.0.0.1:8000/business_cyber_risk/#"><img id=form8 src="https://live.staticflickr.com/65535/48101845381_2843e032dc_o.png"></a>
 </p>

</section>
</body>
</html>

<style>
  body{
    margin:0;
    padding:0;
  }
  #form
  {
    font-family: 'Source Sans Pro', sans-serif;
     
  }
</style>
