{%load static%}
{% load crispy_forms_tags %}
<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/bisform3.css'%}">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="security_bond_background" >
<section id="security_bond_div">

<!-- Contact Us Form -->
<form action="#" id="form" method="post" name="form">
	<a href="http://127.0.0.1:8000/business_oggi"><img id="close_bs" src="https://live.staticflickr.com/65535/48125557188_aa3e0862c5_o.png"></a>
	<h4>Particulars of Proposer</h4>
	{% csrf_token %}
    {{ security_bond.as_p }}
   <div class="form-actions">
      <input id="submit_button" type="image" value="submit" src="https://live.staticflickr.com/65535/48136490811_a1f4180cd3_o.png" alt="submit Button">
    </div>
</form>
</section>
</div>
</body>
</html>
<style>
	body{
		margin:0;
		padding:0;
	}
	#form
	{
		font-family: 'Source Sans Pro', sans-serif;

	}
</style>