<h4 class="orange_header">Particulars of Proposer</h4>
    
   

    <div class="row">
	<div class="col-12">  Name of Company:  {{ form.name_of_company}}	</div>	
	</div>
	 <div class="row">
	<div class="col-12"> Address:   {{ form.address}}	</div>	
	</div>
	   <div class="row">
	<div class="col-4"> Tel No: {{ form.tele_no}}	</div>
	<div class="col-4" >	Fax No: {{form.fax_no}}	</div>	
	</div>
	<div class="row">
	<div class="col-12"> Nature of Business:   {{ form.nature_of_business}}	</div>	
	</div>
	<div class="row">
	<div class="col-4"> Name of Authorised Representative:   {{ form.name_authorised_repre}}	</div>
	<div class="col-4"> Email:   {{ form.email}}	</div>
	</div>
	<br><br>
	<h4 class="orange_header">Risk Details</h4>
	<div class="row">
	<div class="col-12"> Period of Insurance:   {{ form.period_of_insuarance}}	</div>
	</div>
	<br>
	<h6>Named basis (Minimum 2 employees)</h6>
	<table class="table table-bordered">
  <tr>
    <th>Name of Employee</th>
    <th>Nationality</th>
    <th>NRIC/FIN.</th>
    <th>Country of Residence</th>
    <th>Date of Birth</th>
    <th>Plan</th>
    <th>Regional or Global</th>
    <th>Premium(S$)</th>
  </tr>
  <tr>
    <td>{{form.name_employee_1A}}</td>
    <td>{{form.nationality_1A}} </td>
    <td>{{form.nric_1A}} </td>
    <td>{{form.country_residence_1A}} </td>
    <td>{{form.dob_1A}}</td>
    <td>{{form.plan_1A}} </td>
    <td>{{form.region_1A}} </td>
    <td>{{form.premium_1A}}</td>
  </tr>
  <tr>
    <td>{{form.name_employee_2A}}</td>
    <td>{{form.nationality_2A}} </td>
    <td>{{form.nric_2A}} </td>
    <td>{{form.country_residence_2A}} </td>
    <td>{{form.dob_2A}}</td>
    <td>{{form.plan_2A}} </td>
    <td>{{form.region_2A}} </td>
    <td>{{form.premium_2A}}</td>
  </tr>
  <tr>
    <td>{{form.name_employee_3A}}</td>
    <td>{{form.nationality_3A}} </td>
    <td>{{form.nric_3A}} </td>
    <td>{{form.country_residence_3A}} </td>
    <td>{{form.dob_3A}}</td>
    <td>{{form.plan_3A}} </td>
    <td>{{form.region_3A}} </td>
    <td>{{form.premium_3A}}</td>
  </tr>
  <tr>
    <td>{{form.name_employee_4A}}</td>
    <td>{{form.nationality_4A}} </td>
    <td>{{form.nric_4A}} </td>
    <td>{{form.country_residence_4A}} </td>
    <td>{{form.dob_4A}}</td>
    <td>{{form.plan_4A}} </td>
    <td>{{form.region_4A}} </td>
    <td>{{form.premium_4A}}</td>
  </tr>
  <tr>
    <td>{{form.name_employee_5A}}</td>
    <td>{{form.nationality_5A}} </td>
    <td>{{form.nric_5A}} </td>
    <td>{{form.country_residence_5A}} </td>
    <td>{{form.dob_5A}}</td>
    <td>{{form.plan_5A}} </td>
    <td>{{form.region_5A}} </td>
    <td>{{form.premium_5A}}</td>
  </tr>
  <tr>
    <td>{{form.name_employee_6A}}</td>
    <td>{{form.nationality_6A}} </td>
    <td>{{form.nric_6A}} </td>
    <td>{{form.country_residence_6A}} </td>
    <td>{{form.dob_6A}}</td>
    <td>{{form.plan_6A}} </td>
    <td>{{form.region_6A}} </td>
    <td>{{form.premium_6A}}</td>
  </tr>
  <tr>
    <td>{{form.name_employee_7A}}</td>
    <td>{{form.nationality_7A}} </td>
    <td>{{form.nric_7A}} </td>
    <td>{{form.country_residence_7A}} </td>
    <td>{{form.dob_7A}}</td>
    <td>{{form.plan_7A}} </td>
    <td>{{form.region_7A}} </td>
    <td>{{form.premium_7A}}</td>
  </tr>
  <tr>
    <td>{{form.name_employee_8A}}</td>
    <td>{{form.nationality_8A}} </td>
    <td>{{form.nric_8A}} </td>
    <td>{{form.country_residence_8A}} </td>
    <td>{{form.dob_8A}}</td>
    <td>{{form.plan_8A}} </td>
    <td>{{form.region_8A}} </td>
    <td>{{form.premium_8A}}</td>
  </tr>
  <tr>
   <td>{{form.name_employee_9A}}</td>
    <td>{{form.nationality_9A}} </td>
    <td>{{form.nric_9A}} </td>
    <td>{{form.country_residence_9A}} </td>
    <td>{{form.dob_9A}}</td>
    <td>{{form.plan_9A}} </td>
    <td>{{form.region_9A}} </td>
    <td>{{form.premium_9A}}</td>
  </tr>
  <tr>
  	<td style="border-color:transparent;"></td>
  	<td style="border-color:transparent;"></td>
  	<td style="border-color:transparent;"></td>
  	<td style="border-color:transparent;"></td>
  	<td style="border-color:transparent;"></td>
  	<td style="border-color:transparent;"></td>
  	<td style="border-color:transparent;">TOTAL PREMIUM (GST not required)</td>
  	<td style="border-color:transparent;">{{form.total_premium_A}}</td>
  </tr>
</table>

<br><br>
<h6>Unnamed basis (Minimum 5 employees)</h6>

<table  class="table table-bordered">
  <tr>
    <th>Category of Employees</th>
    <th>No of Employees</th>
    <th>Plan</th>
    <th>Regional or Global</th>
    <th>Premium(S$)</th>
  </tr>
  <tr>
    <td>{{form.cat_employee_1B}}</td>
    <td>{{form.no_employee_1B}}</td>
    <td>{{form.plan_1B}}</td>
    <td>{{form.region_1B}}</td>
    <td>{{form.premium_1B}}</td>
  </tr>
  <tr>
    <td>{{form.cat_employee_2B}}</td>
    <td>{{form.no_employee_2B}}</td>
    <td>{{form.plan_2B}}</td>
    <td>{form.region_2B}}</td>
    <td>{{form.premium_2B}}</td>
  </tr>
  <tr>
   <td>{{form.cat_employee_3B}}</td>
    <td>{{form.no_employee_3B}}</td>
    <td>{{form.plan_3B}}</td>
    <td>{{form.region_3B}}</td>
    <td>{{form.premium_3B}}</td>
  </tr>
  <tr>
    <td>{{form.cat_employee_4B}}</td>
    <td>{{form.no_employee_4B}}</td>
    <td>{{form.plan_4B}}</td>
    <td>{{form.region_4B}}</td>
    <td>{{form.premium_4B}}</td>
  </tr>
  <tr>
     <td>{{form.cat_employee_5B}}</td>
    <td>{{form.no_employee_5B}}</td>
    <td>{{form.plan_5B}}</td>
    <td>{{form.region_5B}}</td>
    <td>{{form.premium_5B}}</td>
  </tr>
  <tr>
    <td  style="border-color:transparent;"></td>
    <td  style="border-color:transparent;"></td>
    <td  style="border-color:transparent;"></td>
    <td  style="border-color:transparent;">TOTAL PREMIUM (GST not required)</td>
    <td  style="border-color:transparent;">{{form.total_premium_B}}</td>
  </tr>
</table>

<br><br>
<h4 class="orange_header">Claims Experience in the Last 3 Years</h4>
<table class="table table-bordered">
  <tr>
    <th>Policy Year</th>
    <th>No. of Claims</th>
    <th>Total Claim Amount(S$)</th>
  </tr>
  <tr>
    <td>{{form.policy_year_C1}}</td>
    <td>{{form.no_claims_C1}}</td>
    <td>{{form.total_claim_amt_C1}}</td>
  </tr>
  <tr>
   <td>{{form.policy_year_C2}}</td>
    <td>{{form.no_claims_C2}}</td>
    <td>{{form.total_claim_amt_C2}}</td>
  </tr>
  <tr>
   <td>{{form.policy_year_C3}}</td>
    <td>{{form.no_claims_C3}}</td>
    <td>{{form.total_claim_amt_C3}}</td>
  </tr>
</table>
<br><br>
<h4 class="orange_header">Other Information</h4>
<p>Please provide details, where relevant:
<br>• No. of employees based outside of Singapore and countries based in;
<br>• No. of employees working on board vessels, oil rigs and/or involved in manual work.</p>

<div class="row">
	<div class="col-12">    {{ form.other_information}}	</div>	
	</div>


