
{%load static%}
{% load crispy_forms_tags %}
<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/bis_working_injury_compensation.css'%}">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<script type="text/css" src="{% static 'css/bisform2.css' %}"></script>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'js/bootstrap.min.js' %} "rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
</head>
<body>
<section id="working_injury_compensation_background" >
<div id="working_injury_compensation_div">
<!-- Contact Us Form -->
<a href="http://127.0.0.1:8000/business_oggi"><img id="close_wic" src="https://live.staticflickr.com/65535/48125557188_aa3e0862c5_o.png"></a>
<form action="#" id="form" method="post" name="form">
  {% csrf_token %}
  <h4 class="orange_header">Particulars of Proposer</h4>
    
   

    <div class="row">
  <div class="col-8">    {{ working_injury_compensation.name_of_proposer|as_crispy_field}}  </div>
  <div class="col-4" >  {{working_injury_compensation.business_registration_no|as_crispy_field}}  </div>  
  </div>

  <div class="row">
  <div class="col-8">    {{ working_injury_compensation.mailing_adress|as_crispy_field}}  </div>
  <div class="col-4"> {{working_injury_compensation.postal_number|as_crispy_field}} </div>  
  </div>

  <div class="row">
  <div class="col-8">    {{ working_injury_compensation.email|as_crispy_field}} </div>
  <div class="col-4"> {{working_injury_compensation.phone_Number|as_crispy_field}}  </div>  
  </div>


  <div class="row">
  <div class="col-4">    {{ working_injury_compensation.no_of_years_business|as_crispy_field}}  </div>
  <div class="col-4"> {{working_injury_compensation.period_of_insuarance_from|as_crispy_field}} </div>  
  <div class="col-4"> {{working_injury_compensation.period_of_insuarance_to|as_crispy_field}}  </div>  
  </div>

  <div class="row">
  <div class="col-12">
    {{ working_injury_compensation.nature_of_business|as_crispy_field}}
  </div>
  </div>

  <div class="row">
    <div class="col-sm-4">{{ working_injury_compensation.policy_no_WIC |as_crispy_field}}</div>
   <div class="col-sm-4">{{ working_injury_compensation.policy_no_PL|as_crispy_field}}</div>
   <div class="col-sm-4">{{ working_injury_compensation.typeof_insuarance|as_crispy_field}}</div>
  </div>

  <br><br><br>
  <h4 class="orange_header">Employees to be insured for Act Benefits and Common Law</h4>
  <h5>All employees within the same category must be insured</h5>

  
 <table class="table table-bordered" id="Table_A">
  <tr>
    <th colspan="2" rowspan="2" >Category/Description of Occupations</th>
    <th colspan="2">Employees involved in work on
board vessels</th>
    <th colspan="2">Employees NOT involved in work on
board vessels</th>
  </tr>
  <tr>
    <td scope="col">No. of Employees</td>
    <td scope="col">Est. Annual
Wages, salaries &
other moneta</td>
    <td scope="col">No. of Employees</td>
    <td scope="col">Est. Annual
Wages, salaries &
other monetary
earnings</td>
  </tr>
  <tr>
    <td colspan="2">Accountants/Admin Managers</td>
    <td scope="col">{{working_injury_compensation.admin_managers_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.admin_managers_board_vessels_wages }} </td>
    <td scope="col">{{working_injury_compensation.admin_managers_board_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.admin_managers_board_vessels_wages_NOT }}</td>
  </tr>
  <tr>
    <td colspan="2">Accounts/Admin Personnel</td>
    <td scope="col">{{working_injury_compensation.admin_personal_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.admin_personal_board_vessels_wages }}</td>
    <td scope="col">{{working_injury_compensation.admin_personal_board_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.admin_personal_board_vessels_wages_NOT }}</td>
  </tr>
  <tr>
    <td colspan="2">Drivers, delivery personnel</td>
   <td scope="col">{{working_injury_compensation.delivery_personal_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.delivery_personal_board_vessels_wages}}</td>
    <td scope="col">{{working_injury_compensation.delivery_personal_board_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.delivery_personal_board_vessels_wages_NOT }}</td>
  </tr>
</table>

<br><br><br>
<h4 class="orange_header">Employees to be insured for Act Benefits and Common Law</h4>

<table class="table table-bordered" id="Table_B">

 
  <tr>
    <th>Category/Description of Occupations</th>
    <th colspan="2">Employees involved in work on
board vessels</th>
    <th colspan="2">Employees NOT involved in work on
board vessels</th>
  </tr>
  <tr>
    <td>Engineers</td>
    <td scope="col">{{working_injury_compensation.engineers_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.engineers_board_vessels_wages}}</td>
    <td scope="col">{{working_injury_compensation.engineers_board_vessels_no_employees_NOT}}</td>
   <td scope="col">{{working_injury_compensation.engineers_board_vessels_wages_NOT}}</td>
  </tr>
  <tr>
    <td>General Workers</td>
    <td scope="col">{{working_injury_compensation.general_workers_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.general_workers_vessels_wages}}</td>
    <td scope="col">{{working_injury_compensation.general_workers_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.general_workers_vessels_wages_NOT}}/td>
  </tr>
  <tr>
    <td>General Workers(heavy engineering/hot-work)</td>
    <td scope="col">{{working_injury_compensation.general_workersH_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.general_workersH_vessels_wages}}</td>
    <td scope="col">{{working_injury_compensation.general_workersH_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.general_workersH_vessels_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Management(CEO/MD/GM,etc)</td>
    <td scope="col">{{working_injury_compensation.management_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.management_vessels_wages}}</td>
    <td scope="col">{{working_injury_compensation.management_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.management_vessels_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Operation Managers</td>
    <td scope="col">{{working_injury_compensation.management_O_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.management_O_vessels_wages}}</td>
    <td scope="col">{{working_injury_compensation.management_O_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.management_O_vessels_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Operations Supervisors & Foremen</td>
    <td scope="col">{{working_injury_compensation.operations_supervisor_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.operations_supervisor_vessels_wages}}</td>
    <td scope="col">{{working_injury_compensation.operations_supervisor_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.operations_supervisor_vessels_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Sales/Marketing Managers</td>
    <td scope="col">{{working_injury_compensation.sales_management_supervisor_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.sales_management_supervisor_vessels_wages}}</td>
    <td scope="col">{{working_injury_compensation.sales_management_supervisor_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.sales_management_supervisor_vessels_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Sales/Marketing personnel</td>
    <td scope="col">{{working_injury_compensation.sales_personal_supervisor_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.sales_personal_supervisor_vessels_wages}}</td>
    <td scope="col">{{working_injury_compensation.sales_personal_supervisor_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.sales_personal_supervisor_vessels_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Technicians(heavy engineering/hot-work)</td>
    <td scope="col">{{working_injury_compensation.technician_H_supervisor_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.technician_H_supervisor_vessels_wages}}</td>
    <td scope="col">{{working_injury_compensation.technician_H_supervisor_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.technician_H_supervisor_vessels_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Technicians(light engineering)</td>
    <td scope="col">{{working_injury_compensation.technician_L_supervisor_board_vessels_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.technician_L_supervisor_vessels_wages}}</td>
    <td scope="col">{{working_injury_compensation.technician_L_supervisor_vessels_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.technician_L_supervisor_vessels_wages_NOT}}</td>
  </tr>
</table>

<br><br><br>
<h4 class="orange_header">Employees to be insured for Common Law (Employer’s Liability) only</h4>
  
<table class="table table-bordered" id="Table_C">
  <tr>
    <th rowspan="2">Category/Description of Occupations</th>
    <th colspan="2">Employees involved in work on
board vessels</th>
    <th colspan="2">Employees NOT involved in work on
board vessels</th>
  </tr>
  <tr>
    <td>No. of Employees</td>
    <td>Est. Annual Wages, salaries & other monetary earnings</td>
    <td>No. of Employees</td>
    <td>Est. Annual Wages, salaries & other monetary earnings</td>
  </tr>
  <tr>
    <td>Accountants/Admin Managers</td>
     <td scope="col">{{working_injury_compensation.C_admin_managers_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_admin_managers_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_admin_managers_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_admin_managers_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Accounts/Admin Personne</td>
     <td scope="col">{{working_injury_compensation.C_admin_personnel_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_admin_personnel_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_admin_personnel_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_admin_personnel_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Drivers, delivery personnel</td>
     <td scope="col">{{working_injury_compensation.C_delivery_personnel_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_delivery_personnel_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_delivery_personnel_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_delivery_personnel_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Engineers</td>
     <td scope="col">{{working_injury_compensation.C_engineers_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_engineers_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_engineers_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_engineers_wages_NOT}}</td>
  </tr>
  <tr>
    <td>General Workers</td>
     <td scope="col">{{working_injury_compensation.C_general_workers_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_general_workers_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_general_workers_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_general_workers_wages_NOT}}</td>
  </tr>
  <tr>
    <td>General Workers (heavy
engineering/hot-work)</td>
    <td scope="col">{{working_injury_compensation.C_general_workers_H_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_general_workers_H_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_general_workers_H_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_general_workers_H_wages_NOT}}</td>
  </tr>
</table>

<br><br><br>
<h4 class="orange_header">Employees to be insured for Common Law (Employer’s Liability) only</h4>

<table  class="table table-bordered" id="Table_D">
  <tr>
    <th rowspan="2">Category/Description of Occupations</th>
    <th colspan="2">Employees involved in work on
board vessels</th>
    <th colspan="2">Employees NOT involved in work on
board vessels</th>
  </tr>
  <tr>
    <td>No. of Employees</td>
    <td>Est. Annual Wages, salaries & other monetary earnings</td>
    <td>No. of Employees</td>
    <td>Est. Annual Wages, salaries & other monetary earnings</td>
  </tr>
  <tr>
    <td>Management (CEO/MD/GM, etc)</td>
   <td scope="col">{{working_injury_compensation.C_managers_CEO_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_managers_CEO_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_managers_CEO_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_managers_CEO_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Operations Managers</td>
    <td scope="col">{{working_injury_compensation.C_operation_managers_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_operation_managers_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_operation_managers_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_operation_managers_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Operations Supervisors & Foremen</td>
    <td scope="col">{{working_injury_compensation.C_operation_supervisors_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_operation_supervisors_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_operation_supervisors_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_operation_supervisors_wages_NOT}}</td>
  </tr>
  <tr>
    <td>Sales/Marketing Managers</td>
    <td scope="col">{{working_injury_compensation.C_sales_managers_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_sales_managers_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_sales_managers_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_sales_managers_NOT}}</td>
  </tr>
  <tr>
    <td>Sales/Marketing personnel</td>
    <td scope="col">{{working_injury_compensation.C_sales_personnel_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_sales_personnel_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_sales_personnel_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_sales_personnel_NOT}}</td>
  </tr>
  <tr>
    <td>Technicians (heavy engineering/hotwork)</td>
    <td scope="col">{{working_injury_compensation.C_technicians_heavy_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_technicians_heavy_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_technicians_heavy_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_technicians_heavy_NOT}}</td>
  </tr>
  <tr>
    <td>Technicians (light engineering work)</td>
    <td scope="col">{{working_injury_compensation.C_technicians_light_no_employees}}</td>
    <td scope="col">{{working_injury_compensation.C_technicians_light_wages}}</td>
    <td scope="col">{{working_injury_compensation.C_technicians_light_no_employees_NOT}}</td>
    <td scope="col">{{working_injury_compensation.C_technicians_light_NOT}}</td>
  </tr>
</table>

<br><br><br>
<h4 class="orange_header">Annual Turnover & Limits (for Public Liability Insurance only)</h4>

<div class="row">
    <div class="col-sm-4">{{ working_injury_compensation.marine_related_business |as_crispy_field}}</div>
   <div class="col-sm-4">{{ working_injury_compensation.non_marine_related_business|as_crispy_field}}</div>
   <div class="col-sm-4">{{ working_injury_compensation.limit_of_liability|as_crispy_field}}</div>
  </div>

<br><br><br>
<h4 class="orange_header">Claims Experience for the past 3 years</h4>
<br>
<h6>Work Injury Compensation/Employers’ Liability Insurance</h6>

<table class="table table-bordered" id="Table_E">
  <tr>
    <th colspan="2">Period of Insurance</th>
    <th rowspan="2">No. of Employees</th>
    <th colspan="2">Paid Claims for period</th>
    <th colspan="2">Outstanding Claims for
period</th>
  </tr>
  <tr>
    <td>From </td>
    <td>To </td>
    <td>No.</td>
    <td>Amount</td>
    <td>No.</td>
    <td>Amount</td>
  </tr>
  <tr>
    <td scope="col">{{working_injury_compensation.period_3_from_A_WIC}}</td>
    <td scope="col">{{working_injury_compensation.period_3_to_A_WIC}}</td>
    <td scope="col">{{working_injury_compensation.period_3_no_employees_A_WIC}}</td>
    <td scope="col">{{working_injury_compensation.paid_claims_3_No_A_WIC}}</td>
    <td scope="col">{{working_injury_compensation.paid_claims_3_Amount_A_WIC}}</td>
    <td scope="col">{{working_injury_compensation.outstanding_claims_3_no_employees_A_WIC}}</td>
    <td scope="col">{{working_injury_compensation.outstanding_claims_3_Amount_A_WIC}}</td>
  </tr>
  <tr>
     <td scope="col">{{working_injury_compensation.period_3_from_B_WIC}}</td>
       <td scope="col">{{working_injury_compensation.period_3_to_B_WIC}}</td>
    <td scope="col">{{working_injury_compensation.period_3_no_employees_B_WIC}}</td>
    <td scope="col">{{working_injury_compensation.paid_claims_3_No_B_WIC}}</td>
    <td scope="col">{{working_injury_compensation.paid_claims_3_Amount_B_WIC}}</td>
    <td scope="col">{{working_injury_compensation.outstanding_claims_3_no_employees_B_WIC}}</td>
     <td scope="col">{{working_injury_compensation.outstanding_claims_3_Amount_B_WIC}}</td>
  </tr>
  <tr>
     <td scope="col">{{working_injury_compensation.period_3_from_C_WIC}}</td>
    <td scope="col">{{working_injury_compensation.period_3_to_C_WIC}}</td>
    <td scope="col">{{working_injury_compensation.period_3_no_employees_C_WIC}}</td>
    <td scope="col">{{working_injury_compensation.paid_claims_3_No_C_WIC}}</td>
    <td scope="col">{{working_injury_compensation.paid_claims_3_Amount_C_WIC}}</td>
    <td scope="col">{{working_injury_compensation.outstanding_claims_3_no_employees_C_WIC}}</td>
    <td scope="col">{{working_injury_compensation.outstanding_claims_3_Amount_C_WIC}}</td>
  </tr>
</table>

<br>
<h6>Public Liability Insurance</h6>

<table class="table table-bordered"  id="Table_F">
  <tr>
    <th colspan="2">Period of Insurance</th>
    <th rowspan="2">No. of Employees</th>
    <th colspan="2">Paid Claims for period</th>
    <th colspan="2">Outstanding Claims for
period</th>
  </tr>
  <tr>
    <td >From </td>
    <td>To </td>
    <td>No.</td>
    <td>Amount</td>
    <td>No.</td>
    <td>Amount</td>
  </tr>
  <tr>
    <td scope="col">{{working_injury_compensation.period_3_from_A_public}}</td>
    <td scope="col">{{working_injury_compensation.period_3_to_A_public}}</td>
    <td scope="col">{{working_injury_compensation.period_3_no_employees_A_public}}</td>
    <td scope="col">{{working_injury_compensation.paid_claims_3_No_A_public}}</td>
    <td scope="col">{{working_injury_compensation.paid_claims_3_Amount_A_public}}</td>
    <td scope="col">{{working_injury_compensation.outstanding_claims_3_no_employees_A_public}}</td>
    <td scope="col">{{working_injury_compensation.outstanding_claims_3_Amount_A_public}}</td>
  </tr>
  <tr>
     <td scope="col"><{{working_injury_compensation.period_3_from_B_public}}</td>
       <td scope="col"><{{working_injury_compensation.period_3_to_B_public}}</td>
    <td scope="col"><{{working_injury_compensation.period_3_no_employees_B_public}}</td>
    <td scope="col">{{working_injury_compensation.paid_claims_3_No_B_public}}</td>
    <td scope="col"><{{working_injury_compensation.paid_claims_3_Amount_B_public}}</td>
    <td scope="col"><{{working_injury_compensation.outstanding_claims_3_no_employees_B_public}}</td>
     <td scope="col">{{working_injury_compensation.outstanding_claims_3_Amount_B_public}}</td>
  </tr>
  <tr>
     <td scope="col">{{working_injury_compensation.period_3_from_C_public}}</td>
    <td scope="col">{{working_injury_compensation.period_3_to_C_public}}</td>
    <td scope="col">{{working_injury_compensation.period_3_no_employees_C_public}}</td>
    <td scope="col">{{working_injury_compensation.paid_claims_3_No_C_public}}</td>
    <td scope="col">{{working_injury_compensation.paid_claims_3_Amount_C_public}}</td>
    <td scope="col">{{working_injury_compensation.outstanding_claims_3_no_employees_C_public}}</td>
    <td scope="col">{{working_injury_compensation.outstanding_claims_3_Amount_C_public}}</td>
  </tr>
</table>



<br><br><br>
<h4 class="orange_header">Other Information relating to Work-on-Board Vessel Risks</h4>

<div class="col-sm-10">{{ working_injury_compensation.max_no_employees |as_crispy_field}}</div>
<div class="col-sm-10">{{ working_injury_compensation.welding_hot_work_yesno |as_crispy_field}}</div>
<h5>Do you expect any of your employees involve in any of the activities below? </h5>
<h6>If Yes, please provide the following information:</h6>

<table class="table table-bordered" id="Table_G">
  <tr>
      <td scope="col"></td>
    <td scope="col">{{ working_injury_compensation.work_on_board|as_crispy_field}}</td>
    <td scope="col">{{ working_injury_compensation.sail_vessel_contract|as_crispy_field}}</td>
  </tr>
  <tr>
    <td>a) Maximum no. of employees working-on-board offshore oilrigs/platform each time</td>
    <td scope="col">{{ working_injury_compensation.max_no_employees_oilrigs|as_crispy_field}}</td>
    <td scope="col">{{ working_injury_compensation.max_no_employees_sailvessel|as_crispy_field}}</td>
  </tr>
  <tr>
    <td>b) Average duration per trip</td>
   <td scope="col">{{ working_injury_compensation.average_duration_oilrigs|as_crispy_field}}</td>
    <td scope="col">{{ working_injury_compensation.average_duration_sailvessel|as_crispy_field}}</td>
  </tr>
  <tr>
    <td>c) Location of offshore oil-rigs/platforms</td>
  <td scope="col">{{ working_injury_compensation.location_offshore_oilrigs|as_crispy_field}}</td>
    <td scope="col">{{ working_injury_compensation.location_offshore_sailvessel|as_crispy_field}}</td>
  </tr>
  <tr>
    <td>d) Frequency of such trips per month</td>
   <td scope="col">{{ working_injury_compensation.frequency_oilrigs|as_crispy_field}}</td>
    <td scope="col">{{ working_injury_compensation.frequency_sailvessel|as_crispy_field}}</td>
  </tr>
</table>

<br>
<h6> Please indicate on Annex 1 attached the shipyards where your company carries out work. If the shipyard is
not listed, please indicate below (use a separate sheet if space is inadequate)</h6>

<div >{{ working_injury_compensation.annex |as_crispy_field}}</div>

<br>
<h5>IMPORTANT NOTES:</h5>
<h6> •The liability of the Company does not commence until this Proposal has been accepted by the Company.
  <br><br>
• Unless exempted, any employer who fails to insure himself in accordance with the Work Injury Compensation Act shall
be guilty of an offence and shall be liable on conviction to a fine not exceeding S$10,000 or to imprisonment for a term
not exceeding one year or to both.
<br><br>
• The Insured will be deemed to be his own insurer to the extent of the shortfall in the total number of employees and/or
Total Annual Wages declared, and shall bear a ratable proportion of the liability accordingly.
<br><br>
• The information pertaining to Work Injury Comp</h6>

</form>
<div class="form-actions">
      <input id="submit_button" type="image" value="submit" src="https://live.staticflickr.com/65535/48136490811_a1f4180cd3_o.png" alt="submit Button" >
    </div>
</div>
</section>
</body>
</html>
<style>
  body{
    margin:0;
    padding:0;
  }
  #form
  {
    font-family: 'Source Sans Pro', sans-serif;

  }
  table {
  width: 80%;
}

th {
  height: 30px;
}
input[type=text] {
  width: 100%; 
 
 
}
#Table_A{
  width: 100%;
 background-color:#fff;
  
  border-color: transparent;
 
}
#Table_B{
  width: 100%;
 background-color:#fff;
  
  border-color: transparent;
 
}
#Table_C{
  width: 100%;
 background-color:#fff;
  
  border-color: transparent;
 
}
#Table_D{
  width: 100%;
 background-color:#fff;
  
  border-color: transparent;

}
#Table_E
{
  width: 100%;
 background-color:#fff;
  
  border-color: transparent;

}
#Table_F
{
  width: 100%;
 background-color:#fff;
  
  border-color: transparent;

}
#Table_G
{
  width: 100%;
 background-color:#fff;
  
  border-color: transparent;

}
#working_injury_compensation_div
{
  background-color:#fff;
  padding:10%;
  width:80%;
  position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:20px; bottom:0;
        margin:auto;
        overflow: hidden;
        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:scroll;

    overflow-x: hidden;
}
#working_injury_compensation_background
{
  background-color: #a7dfb8
}
section
{
  width:100%;
  height:100vh;
}
#close_wic
{
  width:3.5%;
  float:right;
}
#submit_button
{
  width:20%;
  margin-top:10%;
}
.orange_header
{
  color:#fe6a00;
}
</style>