{%load static%}

<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/homepage2.css'%}">
		

</head>
<body >

	<section id=section_A>
		<a href="http://127.0.0.1:8000/"><img id=logo_button_personal src="https://live.staticflickr.com/65535/48136033941_59b7b5cb33_o.png"</a>
		<p class=para>
			<img id=nightdaygid src="https://live.staticflickr.com/65535/48096955742_4532011d0c_o.gif ">
		</p>
		
	</section>
	<section id=section_B>
		<p id=tophalf>
			<img id=travel_hover src='https://live.staticflickr.com/65535/48167538552_1432b18aae_o.png' onmouseover="this.src='https://live.staticflickr.com/65535/48167589487_a6791ed8df_o.png';" onmouseout="this.src='https://live.staticflickr.com/65535/48167538552_1432b18aae_o.png';" />
		
			<img id=car_hover src='https://live.staticflickr.com/65535/48167863186_ccded41b49_o.png' onmouseover="this.src='https://live.staticflickr.com/65535/48167569412_5ce48082f5_o.png';" onmouseout="this.src='https://live.staticflickr.com/65535/48167863186_ccded41b49_o.png';" />
 			
			<img id=foerignworker_hover src='https://live.staticflickr.com/65535/48167538542_916a8a801a_o.png' onmouseover="this.src='https://live.staticflickr.com/65535/48167569242_a4e5811b62_o.png';" onmouseout="this.src='https://live.staticflickr.com/65535/48167538542_916a8a801a_o.png';" />
			
			<img id=work_injury_hover src='https://live.staticflickr.com/65535/48167462701_17610c98bd_o.png' onmouseover="this.src='https://live.staticflickr.com/65535/48167569122_0e29a81cb4_o.png';" onmouseout="this.src='https://live.staticflickr.com/65535/48167462701_17610c98bd_o.png';" />
		</p>
		<p id=bottomhalf>
			<img id=home_hover src='https://live.staticflickr.com/65535/48167538287_8e8ee7938d_o.png' onmouseover="this.src='https://live.staticflickr.com/65535/48167569032_dfac3d11ac_o.png';" onmouseout="this.src='https://live.staticflickr.com/65535/48167538287_8e8ee7938d_o.png';" />
			
			<img id=public_liability_hover src='https://live.staticflickr.com/65535/48167538317_b6a292e75c_b.jpg' onmouseover="this.src='https://live.staticflickr.com/65535/48167568992_a57ef36423_o.png';" onmouseout="this.src='https://live.staticflickr.com/65535/48167538317_b6a292e75c_b.jpg';" />
			
			<img id=property_hover src='https://live.staticflickr.com/65535/48167538427_6bd1db332b_o.png' onmouseover="this.src='https://live.staticflickr.com/65535/48167569347_87c63cf8c3_o.png';" onmouseout="this.src='https://live.staticflickr.com/65535/48167538427_6bd1db332b_o.png';" />
			
			<img id=more_hover src='https://live.staticflickr.com/65535/48167538642_91805a6e7c_o.png'>
			
		</p>
	</section>
	<section id=section_C>
		<div id=home_para>
			<a href="http://127.0.0.1:8000/business_oggi"><img id=home_bis_buttom src="https://live.staticflickr.com/65535/48097032357_bec536f089_o.png"></a>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			<a href="http://127.0.0.1:8000/personal"><img id=home_per_buttom src="https://live.staticflickr.com/65535/48097173852_7bbf1e6e71_o.png"></a>
			
		</div>
	</section>
</body>
</html>
<style>
	body{
		margin:0;
		padding:0;
	}
	#form
	{
		font-family: 'Source Sans Pro', sans-serif;
		 color: #fe6a00;
	}
</style>