{%load static%}

<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/personal5.css'%}">		
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body id="personal_background">
<section >
	<a href="http://127.0.0.1:8000/"><img id=button_D src="https://live.staticflickr.com/65535/48136033941_59b7b5cb33_o.png"></a>
	<p id=personal_para>
	<a href="http://127.0.0.1:8000/personal_car/#"><img id=button_1A src="https://live.staticflickr.com/65535/48130968621_e694953915_o.png"></a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="https://onelink.libertyinsurance.com.sg/hyperlink/travelinsurance?id=%5BB@1371b212"><img id=button_1B src="https://live.staticflickr.com/65535/48118934673_97e121343d_o.png"></a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="http://127.0.0.1:8000/personal_home/#"><img id=button_1C src="https://live.staticflickr.com/65535/48130968656_4d11fc2f2c_o.png"></a>
	</p>
</section>
</body>
</html>
<style>
	body{
		margin:0;
		padding:0;
	}
	#form
	{
		font-family: 'Source Sans Pro', sans-serif;

	}
	section
	{
		width:100%;
		height:100vh;
	}
	#button_1A,#button_1B,#button_1C
	{
		width:20%;
	}
	#button_D
	{
		
	width:5%;
	float:left;
	position:absolute;
	top:5%;
	left:2%;
	}
</style>




<!-- Body Starts Here -->



