{%load static%}

<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/personal.css'%}">		
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body >
<section id="personal_travel_div" >
<div id="travel_div">
<!-- Contact Us Form -->
<a href="http://127.0.0.1:8000/personal"><img id="close_wic" src="https://live.staticflickr.com/65535/48125557188_aa3e0862c5_o.png"></a>
<form action="#" id="form" method="post" name="form">
	{% csrf_token %}
    {{ travel_p_form.as_p }}
   <div class="form-actions">
     <input id="submit_button" type="image" value="submit" src="https://live.staticflickr.com/65535/48136490811_a1f4180cd3_o.png" alt="submit Button">
    </div>
</form>
</div>
</section>	
	
</body>
</html>
<style>
	body{
		margin:0;
		padding:0;
	}
	#form
	{
		font-family: 'Source Sans Pro', sans-serif;

	}
</style>